.intro__list {
    font-family: 'Inter';
    color: #FFFF !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
}