.cover__subtitle {
    width: 360px;
    height: 66px;
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    justify-self: center;
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 2;
    margin-top: 32px;
}