.lead__title {
    color: #FFFFFF !important;
    font-family: 'Inter';
    max-width: 720px;
    max-height: 200px;
    justify-content: center;
    margin: auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 32px;
}

@media (max-width: 690px) {
    .lead__title {
        min-width: 288px;
        min-height: 88px;
        font-size: 60px;
        line-height: 44px;
    }
}

@media (max-width: 450px) {
    .lead__title {
        min-width: 288px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}