.lead__subtitle {
    max-width: 640px;
    margin: auto;
    margin-bottom: 64px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFF;
}

@media (max-width: 450px) {
    .lead__subtitle {
        min-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}