.lead__subtitle {
    display: flex;
    width: 640px;
    height: 72px;
    justify-content: center;
    margin: auto;
    margin-bottom: 64px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFF;
}


/* @media screen and (min-width: 320px) {
    .lead__subtitle {
        width: 288px;
        height: 40px;
    }
} */