.place {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, fit-content);
    gap: 2rem;
    /* grid-auto-flow: dense; */
    /* box-sizing: border-box; */
}

.place:last-of-type {
    margin-bottom: 92px;
}

@media (max-width: 520px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-width: fit-content;
        max-height: fit-content;
    }
} 

