.places__place_title {
    margin: auto auto auto 0;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFF;
}

@media (max-width: 787px) {
    .places__place_title {
        min-width: 288px;
        min-height: 35px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 450px) {
    .places__place_title {
        min-width: 288px;
        min-height: 35px;
        font-size: 32px;
        line-height: 35px;
    }
}